<%-include("partials/header")-%>

<% function tConvert(time) {%>
  <%// Check correct time format and split into components%>
<%  time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time]; %>

<%  if (time.length > 1) { // If time format correct %>
  <%  time = time.slice (1);  // Remove full string match value %>
<%    time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM %>
<%    time[0] = +time[0] % 12 || 12; // Adjust hours %>
<%  } %>
<%  return time.join (''); // return adjusted time or original string %>
<%} %>




<h1><i class="fas fa-heartbeat fa-sm"></i>&nbsp Details of Vaccine centers in <strong><%=pinCode%></strong> are</h1><br>

<%for(let i=0;i<(centerData.centers.length);i++){%>

<%let x=i%2;%>

<div class="container-<%=x%>">

<h3><%= i+1%>. &nbsp&nbsp <%=centerData.centers[i].name%> </h3>
  <h4 class="address">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i class="fas fa-map-marker-alt fa-xs" aria-hidden="true"></i> Address:&nbsp <%= centerData.centers[i].address %></h4>
  <h4 class="timings"><i class="fas fa-clock"></i> Timings:<%let y=tConvert(centerData.centers[i].from); let z=tConvert(centerData.centers[i].to) %> <%=y%>  to <%=z%></h4>
<br><br>



<%  for(let j=0;j<(centerData.centers[i].sessions.length);j++){%>

 <strong><em>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Date:&nbsp</strong></em><%= centerData.centers[i].sessions[j].date %>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong><em>Vaccine Type:&nbsp</strong></em>
<%=   centerData.centers[i].sessions[j].vaccine %>
&nbsp(<%=centerData.centers[i].fee_type %>)
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<p class="agelimit"><strong><em>Age:</em></strong> <%=centerData.centers[i].sessions[j].min_age_limit%></p>
<%if(centerData.centers[i].sessions[j].max_age_limit){%>
   <span class="agespan">-<%=centerData.centers[i].sessions[j].max_age_limit%></span>
<%} else {%>
<span class="agespan">+</span>
<%}%>

<%if(centerData.centers[i].sessions[j].available_capacity===0){%>
  <button type="button" class="btn btn-warning btn-sm">No Slots available</button><br> <br><br>
  <%}%>

<%if(centerData.centers[i].sessions[j].available_capacity>0){%>

  <p class="dosenum"><strong><em>Dose-1:</em> <%=centerData.centers[i].sessions[j].available_capacity_dose1%> </strong>slots<strong> <em> &nbspDose-2: </em><%=centerData.centers[i].sessions[j].available_capacity_dose2%></strong> slots&nbsp</p>

  <a href="https://selfregistration.cowin.gov.in/" target="_blank"><button type="button" class="btn btn-success btn-sm" name="button">Book on Cowin</button></a> <br><br><br>

  <%}%>

<%}%>


</div>


<%}%>





<%-include("partials/footer")-%>
